div {
	height: 100px;
	width: 25%;
	float: left;
}
.grande{
	width: 500px;
	border: 2px solid black;
}
.amarillo{
	background: yellow;
}
.azul{
	background: blue;
}
.rosa{
	background: #DF01A5;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}