div {
	height: 100px;
	width: 25%;
}
.grande{
	height: 300px;
	width: 500px;
	border: 2px solid black;
	margin-top: 20px
}
.amarillo{
	background: yellow;
}
.azul{
	background: blue;
}
.rosa{
	background: #DF01A5;
}
